body{
    background-color: var(--fouth-color);
}


:root{
    --first-color: white;
    --second-color: blue;
    --third-color:  brown;
    --fouth-color: aqua;
}

.changeMode{
    --first-color:burlywood;
    --second-color: coral;
    --third-color:black;
    --fouth-color: purple;
}

.container{
    background-color: var(--first-color);
    height: 350px;
    width: 600px;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    border: 2px black solid;
}

#counter{
    padding-top: 50px;
    text-align: center;
}

.content{
    height: 300px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#question{
    padding-top: 50px;
    text-align: center;
}

#answers{
    max-width: 200px;
    max-height: 300px;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}
.btn{
    background-color: var(--second-color);
    color: white;
    width: 70px;
    height: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
}


.show{
	display: block;
}

#next-button{
    background-color: var(--third-color);
    color: white;
    width: 150px;
    border: 0;
    border-radius: 10px;
    margin-left: 215px;
    padding: 10px;

}

.correct{
    background: green;
}

.incorrect{
    background: red;
}

#restart{
    background-color: green;
    color: white;
    width: 150px;
    border: 0;
    border-radius: 10px;
    margin-left: 215px;
    padding: 10px; 
}

#theme{
    background-color: chocolate;
}

#timer{
    width: 50;
    margin-left: 500px;
}
